@font-face {
  font-family: myFirstFont;
  src: url(schirft/OTF/SFTSchriftedSansTRIAL-DemiBold.otf);
}

* {
  font-family: myFirstFont;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

canvas {
  position: static;
  overflow-y: scroll;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  max-width: 100vw;
  /* max-height: 100vh; */
}

.section {
  color: black;
}

.header {
  position: static;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/***************************/
/********** HERO ***********/
/***************************/

#hero-wrapper {
  position: relative;
  width: 100%;
}

#hero-content {
  position: sticky;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero-fake-scroll {
  height: 300vh;
}

.center {
  height: 100%;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -10px;
  top: 50%;
  margin-top: 240px;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

h1 {
}

section {
  height: 100dvh;
  width: 100dvw;
}

#beeld {
  background-image: url("img/groenevaas.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

#hoegemaakt {
  background-image: url("img/rodevaas.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

h2 {
  padding: 0;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  background-color: white;
  text-align: center;
}

.title {
  font-size: 50px;
  padding-left: 12vw;
  padding-right: 12vw;
}

#titlelinks {
  text-align: left;
}

#titlerechts {
  text-align: right;
}

.topnav {
  position: fixed;
  z-index: 1;
  width: 100dvw;
  overflow: hidden;
  background-color: white;
  top: 0;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav-centered a {
  font-size: 40px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  padding-right: 2vw;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}